<!DOCTYPE html>
<html>
<head>
  <title>badmsgplatform - home</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
 <link rel="stylesheet" href="/local/bstrap.css">
 <link rel="stylesheet" href="/local/style.css">
</head>
<body>
<div class="container">
  <small>badmsgplatform 0.4.3 Dev</small>
  <button id="logout" onclick="location.href=location.origin+'/logout'">Log-out</button>
  <h2><b id="_err"><%= error %></b></h2>
  <br><h1>Hello, <%= name %>.</h1>
  <h5>Would you like to:</h5>
  <div id="messages"><br>
    <h3>Join a Room</h3>
      <input type="text" id="room-id" required placeholder="Room ID">
      <button id="joinbtn" class="btn btn-primary" type="submit" onclick='joinRoom(document.getElementById("room-id").value)'>Join</button>
  <br><br><small>or</small><br><br>
  <div>
    <h3>Create a Room</h3>
    <div id="createform">
        <label for="seclevel">ID Length:</label>
        <select id="seclevel" name="seclevel" disabled="true">
          <option value="1">Secure</option>
          <option value="2">More Secure</option>
        </select>
        <br>
        <input type="text" id="roomname" placeholder="Room name" required>
        <button type="submit" class="btn btn-success" id="create">Create</button>
    </div>
  </div>
  <br><br><br><br>

  <h3>Last joined <a id="ljclear" style="font-size: 15px; margin-left: 15px;" href="">clear</a></h3>
  <div id="lastJoined"></div>

  <script src="/local/script.min.js"></script>
</div>
</body>
</html>
